body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .4s ease-in-out;
}
html{
  scroll-behavior: smooth;
}
.all{
  width: 100%;
  height: 100%;
  display: flex;
}
.phone{
  width: 100px;
}
.num{
  margin-left: 30px;
  margin-top: 10px;
}
.img2{
  width: 30px;
  height: 30px;
  margin-top: 5px;
}
.img3{
  width: 64.9%;
  margin-left: 60px;
}
.nav{
  position: absolute;
  right: 15%;
  color: white;
}
select {
  appearance: none;
}
.fa-caret-down{
  margin-left: 5px;
  margin-top: 10px;
  font-size: 20px;
}
.Select_box {
  position: absolute;
  top: 1%;
  right: 20%;
  z-index: 1000;
}

.nav-link{
  margin-left: 20px;
  color: black;
}



